<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>vue class2 if else show</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
    
</head>
<body>
    <div id="app">
        <p class="error">{{ score }}分</p>
        <div v-show="score">
            <p v-if=" 10>= score >=6 ">Vue.js is good</p>
            <P v-else-if="score >10">error</P>
            <p v-else>still learning Vue.js</p>
        </div>
        <p>輸入1-10分</p>
        <input type="text" v-model="score">
    </div>


    <script>
            new Vue({
                el:'#app',
    
                data:{
                    score:'0'
                }
            });
        </script>
    
</body>
</html>